<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button label="New" icon="pi pi-plus" class="p-mr-2"></p-button>
    <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>

    <i class="p-toolbar-separator pi pi-bars p-mr-2" style="vertical-align: middle"></i>

    <p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="p-button-warning"></p-splitButton>
  </div>

  <div class="p-toolbar-group-right">
    <p-button icon="pi pi-search" class="p-mr-2"></p-button>
    <p-button icon="pi pi-calendar" styleClass="p-button-success p-mr-2"></p-button>
    <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
  </div>
</p-toolbar>
